body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/mh-back-cinnamoonie.png');
  background-size: 250px;
  /*animation: hotel 40s linear infinite;*/
  /*animation-direction: alternate-reverse;*/
}
@keyframes hotel {
  from {background-position: bottom;}
  to {background-position: top;}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
